
.container-g {
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
}


.right {
  margin-left: 50px;
}

.row {
  margin-bottom: 20px;

}

.right {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 200px;
  margin: 10px;
  padding-left: 10px;
  padding-top: 5px;
  overflow: scroll;
}
