<div id="background-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image:url(https://4aqem134n53zdx3p748v3509-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/Aide-aux-courses-pour-une-personne-%C3%A2g%C3%A9e-%C3%A0-domicile.jpg)"></div>
        <div class="item" style="background-image:url(http://www.aobora.com/wp-content/uploads/accompagner-personne-agee.png)"></div>
        <div class="item" style="background-image:url(https://www.capretraite.fr/wp-content/uploads/2016/03/Denutrition-de-la-personne-agee-820x547.jpg)"></div>
      </div>
    </div>
</div>

<div class="banner_wrapper" >
  <div class="banner-content">
    <h1>Looking for a grandparent to have fun with ?</h1>
    <p>Spending quality time with your elderly has never been easier ... Give it a try ! </p>
    <%= link_to "Go to the website !", grandparents_path %>
  </div>
</div>
