 <div class="banner_wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.aobora.com/wp-content/uploads/accompagner-personne-agee.png');">
    <div class="banner-content">
      <h1>Looking for a grandparent to have fun with ?</h1>
      <p>Spending quality time with your elderly has never been easier ... Give it a try ! </p>
      <div class="form-inline">
      <%= form_tag grandparents_path, method: :get do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find by city..."%>
    <button class="btn btn-primary" type="button">Go !</button>
    <% end %>
    </div>
  </div>
</div>
