



    <div class="container">
      <div class="profile text-center">
        <div class="main">
          <div class="main-content">
            <img src="images/seb.jpeg" alt="" width="150" class="img-circle">
            <h2><%= current_user.name.capitalize %></h2>

            <%= link_to "Edit my profile", profile_edit_path, :class=>"btn btn-primary btn-lg"  %>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>3,536</h3>
            <p>contributions</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>758</h3>
            <p>followers</p>
          </div>
          </div>
        <div class="stat">
          <div class="stat-content">
            <h3>119</h3>
            <p>repositories</p>
          </div>
          </div>
        <div class="description">
          <div class="description-content">
            <h3>More about Sebastien</h3>
            <p class="text-justify">
              I am a full-stack developer with 9 years of experience working in startups. Scratching your own itch? Working on a startup project? Lots of ideas but frustrated that you can't code them? Confused with agencies' or freelances' quotes? No clue when a developer is talking? Time to learn to code with Le Wagon with a 9-week intensive and immersive bootcamp!
            </p>
          </div>
        </div>
      </div>
    </div>


