<div class="navbar-grandparents navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-grandparents-brand">
    <img src="http://www.tribunejuive.info/wp-content/uploads/2017/06/smiley-1.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-grandparents-right hidden-xs hidden-sm">

    <a href="" class="navbar-grandparents-item navbar-grandparents-link">About</a>
    <a href="" class="navbar-grandparents-item navbar-grandparents-link">Community</a>
    <a href="" class="navbar-grandparents-item navbar-grandparents-link">Messages</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-grandparents-item">
      <div class="dropdown">
        <img src="https://i.pinimg.com/474x/b9/6f/cf/b96fcf719498b98ce659375a6d502b82--happy-smile-happy-faces.jpg" class="avatar dropdown-toggle" id="navbar-grandparents-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-grandparents-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-grandparents-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-grandparents-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>
