<div class="navbar-grandparents">
  <!-- Logo -->
  <a href="/" class="navbar-grandparents-brand">
    <img src="https://www.google.be/imgres?imgurl=http%3A%2F%2Fwww.aobora.com%2Fwp-content%2Fuploads%2Faccompagner-personne-agee.png&imgrefurl=http%3A%2F%2Fwww.aobora.com%2Fblog-articles-developpement-personnel%2Fmoi-et-les-autres%2Faccompagner-une-personne-agee%2F&docid=AOcARU_LA_VNnM&tbnid=M9tX4pzA0ukrEM%3A&vet=10ahUKEwjYpP3Dqr3eAhWi24MKHbNPCpcQMwhLKA8wDw..i&w=600&h=366&bih=644&biw=1052&q=personne%20ag%C3%A9e&ved=0ahUKEwjYpP3Dqr3eAhWi24MKHbNPCpcQMwhLKA8wDw&iact=mrc&uact=8" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-grandparents-right hidden-xs hidden-sm">

    <a href="" class="navbar-grandparents-item navbar-grandparents-link">About</a>
    <a href="" class="navbar-grandparents-item navbar-grandparents-link">Community</a>
    <a href="" class="navbar-grandparents-item navbar-grandparents-link">Messages</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-grandparents-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-grandparents-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-grandparents-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-grandparents-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-grandparents-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>
