<h1>Grandparents#index</h1>
<p>Find me in app/views/grandparents/index.html.erb</p>


<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
   <%= link_to "Sign in", new_user_session_path%>
<% end %>

 <%= link_to "My profile", profile_path %>


<div class="flex">
  <div class="leftbox">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">

  </div>
</div>
