/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
    margin: 0;
    text-align: center;
    color: #77CCAB;
    background-color:#F4F4F4 ;
    margin-top: 70px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
